@CHARSET "ISO-8859-1";
body{
	background:#000;
	color:#000;
	margin:0;
	padding:0;
}
#container{
	width:90%;
	max-width:1400px;
	min-width:500px;
	min-height:400px;
	height:75%;
	margin:20px auto;
	padding:5px;
	border-radius:10px;
	box-shadow: 0 0 12px 5px grey;
	background:white;

}
.container{
	margin:0 auto;
	padding:0;
	width:95%;
	height:95%;
	position:absolute;
	overflow:none;
}
    
nav.nav-headbar{
	margin:0 auto;
	padding:0;	
	min-width:615px;
	width:100%;
	min-height:20px;
	box-shadow: 0 5px 5px -5px white;
	
}
nav.nav-headbar ul{
	padding:0 2px;
	margin:0 auto;
	list-style: none;
}
nav.nav-headbar div{
	margin:0 auto;
	padding:1px 0;
}
nav.nav-headbar li{
	float:left;
	line-height:12pt;
	text-align:center;
	border:1px black solid;
	min-width:95px;
	padding: 0 0;
	margin: 0 2px;
}
#display{
    left:10%;
    top:10%;
    width:80%;
    position:relative;
}
#footer{
    bottom:-10px;
    width:100%;
    position:fixed;
}
div.foot{
    min-height: 80px;
    width:100%;

}
