@CHARSET "ISO-8859-1";
body{
	background:#000;
	color:#eee;
	margin:0;
	padding:0;
}
.container{
	margin:none;
	padding:none;
	width:100%;
	height:100%;
	position:absolute;
	overflow:none;
}
    
.nav-headbar{
	margin:none;
	padding:none;
	width:100%;
}
.nav-headbar a{
	padding-left:10%;
	text-decoration:none;
}
.nav-headbar a:visited{
	color:white;
	padding-left:10%;
	text-decoration:none;
}
.nav-headbar a:hover{
	padding-left:10%;
	text-decoration:underline;
	color:grey;
}
#display{
    left:10%;
    top:10%;
    width:80%;
    position:relative;
}
#footer{
    bottom:0px;
    width:100%;
    position:absolute;
}
